## .idea directory files ##
.idea/**/discord.xml
.idea/**/encodings.xml
.idea/**/indexLayout.xml
.idea/**/misc.xml
.idea/**/projectSettingsUpdater.xml
.idea/**/vcs.xml
.idea/**/workspace.xml

resources/*
node_modules/*
public/*
## track these files, if they exist ##
!.gitignore
!.gitmodules

# Local Hugo binary (do not commit)
hugo.exe

# Optional: ignore local theme if you don't want to vendor it
# Uncomment the next line if you DO NOT want to commit the themes/ folder
# /themes/

# IDE / OS extras
.vscode/
Thumbs.db
.DS_Store