## .idea directory files ##
.idea/**/discord.xml
.idea/**/encodings.xml
.idea/**/indexLayout.xml
.idea/**/misc.xml
.idea/**/projectSettingsUpdater.xml
.idea/**/vcs.xml
.idea/**/workspace.xml

resources/*
node_modules/*
public/*
## track these files, if they exist ##
!.gitignore
!.gitmodules
